* {
  margin: 0;
  font-family: 'Quattrocento Sans', sans serif;
  font-weight: 400;
}

body {
  font-weight: 400;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.8rem;
}

p {
  padding-bottom: .5rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 40px;
}

.hero.row {
  max-width:800px;
  margin:auto;
}

@media only screen and (max-width: 549px) {
  .hero.row {
    flex-direction: column;
  }

  .hero-image {
    order: 1;
  }

  .hero-text {
    order: 2;
  }
}

.header {
  background-color: #4B566A;
  color: #c4c4c4;
}

.menu {
  flex: 1;
}

.logo {
  height: 80px;
}

.logo img {
  height: 100%;
}

.hero-image {
  min-width:200px;
  max-width: 300px;
}

.hero-image img {
  width: 100%;
}

button {
  background-color: #4b566a;
  color: #fff;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.2rem;
  font-size: 1.2rem;
}
