* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans serif;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  font-weight: 400;
}

h1, h2, h2 span {
  font-family: 'Abril Fatface', serif;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 2.5rem;
  padding-bottom: 2.5rem;
}

h3 {
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  padding-bottom: .5rem;
}

.background--orange {
  background-color: #F89621;
}

.background--purple {
  background-color: #703363;
}

.text--white {
  color: white;
}

.text--orange {
  color: #F89621;
}

.text--purple {
  color: #703363;
}

.text--center {
  text-align: center;
}

.text--bold {
  font-weight: bold;
}

.hide {
  display: none!important;
}

.overflow-hide {
  overflow: hidden;
}

.row__container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 60px 40px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 40px;
}

.row--tall {
  min-height: 70vh;
}

.cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.hero.row {
  max-width:800px;
  margin:auto;
}

.hero.row img {
  max-width: 100%;
}

.margin--vertical {
  margin-top: 50px;
  margin-bottom: 50px;
}

.column--narrow {
  max-width: 650px;
  margin: 0 auto;
}

.width-40 {
  width: 40%;
}

@media only screen and (max-width: 549px) {
  .hero.row {
    flex-direction: column;
  }

  .hero-image {
    order: 1;
  }

  .hero-text {
    order: 2;
  }
}

.header {
  color: #fff;
}

.header.row {
  display: grid;
  grid-template-columns: minmax(100px,1fr) minmax(auto,620px) minmax(100px,1fr);
  grid-template-rows: auto 1fr;
  background: top center / cover no-repeat url(hero-desktop.png);
  aspect-ratio: 1.5;
  padding: 15% 40px 6%;
}

.footer {
  background: top center / cover no-repeat url(footer-desktop.png);
  aspect-ratio: 1.5;
  position: relative;
  height: 100%;
}

.footer__cta {
  position: absolute;
  bottom: 40px;
}

button {
  cursor: pointer;
}

.menu {
  flex: 1;
}

.logo {
  height: 120px;
  justify-self: flex-end;
}

.logo img, .logo--small img {
  height: 100%;
}

.logo--small {
  height: 60px;
}

.hero-image {
  min-width:200px;
  max-width: 300px;
}

.hero-image img {
  width: 100%;
}

.company-text {
  width: 100%;
}

.company-text h1 {
  max-width: 650px;
  display: flex;
  column-gap: 10px;
}

.hero-text {
}

button {
  background-color: #F89621;
  color: #fff;
  padding: 1rem;
  margin: 1rem 0;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  width: 100%;
}

#blur-text {
  filter: url(#threshold) blur(0px);
  display: inline-block;
  height: 3.4rem;
}

#text,#text1,
#text2 {
    position: absolute;
    display: inline-block;

    font-family: "Abril Fatface", sans-serif;
    font-weight: 400;
    text-align: right;
    color: #F89621;

    user-select: none;
}

#filters {
  display: none;
}

.jelly{
  position: absolute;
  top: calc(100% - 200px);
  left: calc(100% - 400px);
  overflow: hidden;
  background-color: white;
  animation: aniwidth 10s infinite,
    aniheight 6s 1s infinite,
    anicurve 4s infinite;
}

.jelly__text {
  position: relative;
  left: 100px;
  top: 80px;
  display: flex;
  align-items: center;
  gap: 30px;
}

@keyframes aniwidth {
  0% {width: 2800px;}
  50% {width: 3200px;}
  100% {width: 2800px;}
}
@keyframes aniheight {
  0% {height:1300px;}
  50% {height: 1500px;}
  100% {height:1300px;}
}
@keyframes anicurve {
  0% {border-top-left-radius: 14%}
  50% {border-top-left-radius: 15%}
  100% {border-top-left-radius: 14%}
}

@media screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }

  .header.row {
  }

  .logo {
    height: 100px;
  }

  .company-text h1 {
    grid-template-columns: auto;
  }

  #text1,#text2 {
    text-align: left;
  }
  
}

@media screen and (max-width: 700px) {
  .header.row {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    background: top center / cover no-repeat url(hero-mobile.png);
    aspect-ratio: 0.555;
    padding: 15% 40px 6%;
  }

  .hero-text {
    max-width: 360px;
    grid-column: 1/3;
    grid-row: 2;
  }
  .hero-text h2 {
    padding-bottom: 24px;
  }

  .cols {
    grid-template-columns: none;
  }

  .footer {
    background: top center / cover no-repeat url(footer-mobile.png);
    aspect-ratio: 0.486;
  }  

  .footer__cta {
    bottom: 20%;
    width: calc(100% - 80px);
  }

  .width-40 {
    width: unset;
  }

  .jelly{
    top: calc(100% - 140px);
    left: calc(100% - 320px);
  }
  
  .jelly__text {
    left: 100px;
    top: 60px;
    gap: 10px;
  }
  
}

@media screen and (max-width: 550px) {
  #blur-text {
    width: unset;
  }

  #text1,#text2 {
    width: 150px;
  }

  .header.row {
    row-gap: 60px;
  }

  .logo {
    height: 120px;
  }

  .company-text h1 {
    flex-direction: column;
    font-size: 4rem;
    line-height: 4rem;
    row-gap: 5px;
  }
}

@media screen and (max-width: 380px) {
  .logo img {
    height: unset;
    width: 100%;
  }

  .company-text h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}