* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans serif;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  font-weight: 400;
}

h1, h2 {
  font-family: 'Abril Fatface', serif;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.8rem;
}

p {
  padding-bottom: .5rem;
}

.background--orange {
  background-color: orange;
}

.background--purple {
  background-color: #4a3976;
}

.text--white {
  color: white;
}

.text--center {
  text-align: center;
}

.hide {
  display: none!important;
}

.row__container {
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 40px;
}

.row--tall {
  min-height: 70vh;
}

.hero.row {
  max-width:800px;
  margin:auto;
}

.hero.row img {
  max-width: 100%;
}

.margin--vertical {
  margin-top: 50px;
  margin-bottom: 50px;
}

.column--narrow {
  max-width: 650px;
  margin: 0 auto;
}

@media only screen and (max-width: 549px) {
  .hero.row {
    flex-direction: column;
  }

  .hero-image {
    order: 1;
  }

  .hero-text {
    order: 2;
  }
}

.header {
  background-color: #fff;
  color: #F89621;
}

.header.row {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}


.menu {
  flex: 1;
}

.logo {
  height: 120px;
}

.logo img {
  height: 100%;
}

.hero-image {
  min-width:200px;
  max-width: 300px;
}

.hero-image img {
  width: 100%;
}

.company-text {
  width: 100%;
}

.company-text h1 {
  max-width: 650px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,auto);
  column-gap: 10px;
}

button {
  background-color: #4b566a;
  color: #fff;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.2rem;
  font-size: 1.2rem;
}

#blur-text {
  filter: url(#threshold) blur(0px);
  width: 340px;
  display: inline-block;
  height: 3.4rem;
}

#text,#text1,
#text2 {
    position: absolute;
    width: 340px;
    display: inline-block;

    font-family: "Abril Fatface", sans-serif;
    font-weight: 400;
    text-align: right;
    color: #703363;

    user-select: none;
}

#filters {
  display: none;
}


@media screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }

  .header.row {
    grid-template-columns: auto 1fr;
  }

  .company-text h1 {
    grid-template-columns: auto;
  }

  #text1,#text2 {
    text-align: left;
  }
  
}

@media screen and (max-width: 550px) {
  #blur-text {
    width: unset;
  }

  #text1,#text2 {
    width: 150px;
  }
  .company-text h1 {
    font-size: 2rem;
  }
  .logo {
    height: 80px;
  }
}